/* set up những bước đầu */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* glassesMorphin carouselHeader */
.glassesMorphin {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.detail .glassesMorphin,
.category .glassesMorphin {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
/* fix thư viện carousel của ant */
body .ant-carousel .slick-dots {
  margin: 0 !important;
  padding: 0 !important;
}
.slick-dots li button:before {
  content: '';
  display: none !important;
}
/* fix thu viện slick carousel */
.react__slick .slick-prev:before,
.react__slick .slick-next:before {
  font-size: 30px;
  color: #2196f3 !important;
}
body .slick-next {
  transform: translate(15px, 0);
}
body .slick-prev {
  transform: translate(-25px, 0);
}
